<!-- todo_list.html -->
{% extends "base.html" %}

{% block content %}
  <h1>
    Lista
    <a class="btn btn-primary" href="{% url 'todo:todo_create' %}">Adicionar</a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Tarefa</th>
        <th>Feito?</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{{ object.get_absolute_url }}">{{ object.task }}</a>
          </td>
          <td>
            {% if object.is_done %}
              <i class="fa fa-check-circle ok"></i>
            {% else %}
              <i class="fa fa-times-circle no"></i>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'todo:todo_update' object.pk %}">
              <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'todo:todo_delete' object.pk %}" style="padding-left: 7px">
              <i class="fa fa-close no"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "includes/pagination.html" %}
{% endblock content %}